* {
    font-family: "JetBrains Mono", monospace;
}

.title h2 {
    font-size: 4rpm;
}

.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 1s forwards;
}

.container {
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}